.timer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.field {
  text-align: center;
  margin: 0 10px;
}

.value {
  font-size: 28px;
}

.label {
  display: block;
  margin-top: 5px;
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}